:root {
  --bg-color: #062a4c;
  --text-color: #e7e7d9;
  --un-color: #f00528;
}

@font-face {
  font-family: 'Gabriele';
  src: url('GabrieleBlackRibbonFG.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100lvh;
  background: url('judge.jpg') center center no-repeat;
  background-size: cover;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-size: 4rem;
  font-family: 'Gabriele', monospace;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  height: 100lvh;
  background-color: var(--bg-color);
  opacity: 0.7;
  z-index: -1;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--text-color);
}

.unfun {
  display: flex;
}

.un {
  opacity: 0;
  color: var(--un-color);
  animation: 0.8s ease-out 1.8s appear forwards,
    0.8s linear 3s turn-white forwards;
}

.fun {
  transform: translateX(-2ch);
  animation: 0.8s ease-out 1s slide forwards;
  color: var(--text-color);
}

@keyframes slide {
  0% {
    transform: translateX(-2ch);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes turn-white {
  0% {
    color: var(--un-color);
  }
  100% {
    color: var(--text-color);
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 5rem;
    background-position: left center;
    background-size: auto;
  }

  main {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
  }
}

@media (min-width: 1600px) {
  body {
    background-size: cover;
    font-size: 6rem;
  }
}
